body {
    background-color:mediumpurple;
    color: steelblue;
    margin: 0;
}

.circle {
    position: static;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/me.jpg");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid #000;
    background-position-y: center;
    background-position-x: center;
}

.square {
    width: 50%;
    height: 100vh;
    background-color:steelblue;
    border-left:5px solid white;
    border-right:5px solid white;
    margin: auto;
}

.square-pos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    position: static;
    padding-top: 20px;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 4px black, 0px 0px 15px white;
}